{% extends "layout.njk" %}
{% block title_portifolio %} <title>Portifolio</title> {% endblock %}
{% block content_profile %} 

  
  <section>
    <div class="container">
      <div class="profile-author">
        <div class="img-profile">
          <img src="/photo-profile.jpg" alt="img-profile" />
        <!--img-profile-->
      </div>
    </div>

    <div class="sobre-author">
       <div class="txt-author">
        <h2>Samuel Paulo António</h2>
        <p>Aluno-do-LaunchBase</p>
       </div>
       <div class="mais-sobre-author">
        <p>
          Estudante de programação, do curso LaunchBase,focado em 
          aprender a programar e criar softwares inovadores para grandes comporações no 
          mundo todo / aluno da <a href="#" target="_blanck" style="color:#24ce2f; font-weight:normal; padding-left:6px">Rocketseat</a>.
        </p>
       </div>
    </div>
    </div><!--containe-->
  </section>
  
{% endblock %}