{% extends "layout.njk" %}
{% block title_videos%} <title>Videos</title> {% endblock %}
{% block content_videos %}

<section class="turma">
  <div class="container">
  
      <div class="cards">
      {% for video in videos %}
      <article class="childs-of-cards" id="{{video.id}} ">
        <div class="cards-img">
          <img src="{{video.imgSrc}} " alt="card-animado">
          <legend>
            <p>
              Card animando, com Js puro | Samuel Paulo Anónio
            </p>
          </legend>
        </div>
        <div class="card-info">
          <p>
            57 min
          </p>
          <p class="price">
            Free
          </p>
        </div>
        <!--card-img-->
      </article>
      <!--childs-of-cards-->
       {% endfor %}
    </div>
    <!--cards-->
   
  </div>
  <!--container-->
</section>





<!--=== SCRIPT-JS ===-->
<script src="modal.js"></script>

{% endblock %}